<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="bootstrap.min.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="bootstrap-theme.min.css" type="text/css" rel="stylesheet" charset="utf-8">

</head>
<body>
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus." id="example" style="margin-left: 500px">
  Popover on bottom
</button>
<script src="bootstrap.min.js"></script>
<script src="jquery.min.js"></script>
<script>
    $('#example').popover(options)
</script>
</body>
</html>